/* Base style */

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif; 
    position: relative;
    margin: 0px;
    padding: 0px;
}

.pagewrap {
    max-width: 1200px;
}

.space {
    height: 20px;
}

.maincontent {
    position: relative;
    z-index: 0;
}

/*Navbar*/


#hello {
    color: white;
    font-size: 20px;
    margin-top: 130px;
    margin-bottom: 8px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

#nothing {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
}

#ps {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
}

.toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    text-decoration: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.toggle:hover {
    color: #33CCFF;
}



.sidebar {
    position: fixed;
    top: 0px;
    left: -100%;
    bottom: 0px;
    width: 130px;
    padding: 30px;
    background: #333;
    transition: all 0.25s ease-in-out;
    
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked + .pagewrap .sidebar {
    left: 0px; }

#sidebartoggler:checked + .pagewrap .toggle {
    left: 200px; }
  
/* Parallex */

.content {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.parallex {
    position: relative;
    height: 600px;
    background-image: url(https://cloud.githubusercontent.com/assets/6488815/10300197/6852b5c0-6c26-11e5-9610-9eb286546c2b.jpg);
    background-repeat: no-repeat;
    background-size: auto 600;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo {
    height: 177px;
    width: 100%;
    background-image: url(https://cloud.githubusercontent.com/assets/6488815/10300223/782658d0-6c26-11e5-8ce2-f2e46a2a4d65.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-top: 217px;
    z-index: 15;
}

.front {
    width: 440px;
    height: 279px;
    background-image: url(https://cloud.githubusercontent.com/assets/6488815/10300195/6849a2f0-6c26-11e5-89a8-3a407fce5891.png);
    position: absolute;
    margin-left: 736px;
    margin-top: 289px;
    z-index: 20;
}

.back {
    width: 152px;
    height: 426px;
    background-image: url(https://cloud.githubusercontent.com/assets/6488815/10300198/68543756-6c26-11e5-90d6-505c98c3b69e.png);
    position: absolute;
    margin-left: 405px;
    margin-top: 23px;
    z-index: 10;
}

.bigback {
    width: 471px;
    height: 430px;
    background-image: url(https://cloud.githubusercontent.com/assets/6488815/10300193/6846d98a-6c26-11e5-84b0-0c0aef77bcdf.png);
    position: absolute;
    margin-left: 251px;
    margin-top: 65px;
    z-index: 10;
}

.slogan {
    width: 607px;
    height: 78px;
    background-image: url(https://cloud.githubusercontent.com/assets/6488815/10300194/68488064-6c26-11e5-82cc-3a91d64a4df0.jpg);
    position: absolute;
    margin-left: 530px;
    margin-top: 108px;
    z-index: 12;
}

/*Display pictures*/

#itemscontainer {
        display: block;
        height: 1060px;
        width: 870px;
        margin: 0 auto;
    cursor: pointer;
}

.floated_img
{
    float: left;
    margin: 7px;
}


.items {
    display: block;
    position: relative;
    width: 270px;
    height: 250px;
    margin: 0px;
    
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.items:hover {
    transform: scale(1.1);
}

figure {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

figcaption {
    position: absolute;
    left: -100%;
    width: 270px;
    height: 250px;
    bottom: 0px;
    color: black;
    background: rgba(255, 255, 25, 0.9);
    padding-right: 6px;
    
    
    transition: all 0.3s ease-in-out;
}

.instag {
    text-align: center;
    margin-top: 100px;
}

figure:hover figcaption {
      left: 0%; }

#itemscontainer figure {
  position: relative;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out; 
}

#itemscontainer figure.isshowing {
    opacity: 1;
    transform: translateX(0px);
  }

/*Persiscope*/

.periscope {
    height: 640px;
    width: 640px;
    background-image: url(https://cloud.githubusercontent.com/assets/6488815/10300426/d101917a-6c28-11e5-93dd-b62f1fb5e6b8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 75px;
    position: relative
    
}

.periscope2 {
    height: 640px;
    width: 640px;
    background-color: #FFFF19;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 75px;
    position: relative
    
}

.windowtint {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
     align-items: center;
}



.cta {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-decoration: none;
    color: black;
    border: 7px solid black;
    padding: 7px 20px;
    transition: all 0.2s ease-in-out;
}

.cta:hover {
    border: 7px solid black;
    background: black;
    color: #FFFF19;
}
